body,html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%; 
  height: auto;
  background-color: black;
  color: white;
}

iframe {
    border:none;
}

h2 {
    text-align:center
}

h3 {
    text-align:center
}

.newstable {
    color:white;
    width: 60%;
    height: auto;
    margin: 0 auto;
    border-width: 0px;
}