body,html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%; 
  height: auto;
  background-color: black;
  color: white;
}

.splashPage {
      background-size: 55%;
      background-repeat: no-repeat;
      background-position: center;
      transition: background-image 1s ease-in-out;
} 

iframe {
    border:none;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    text-align:center
}

h2 {
    font-family: 'Orbitron', sans-serif;
    text-align:center
}

h3 {
    font-family: 'Orbitron', sans-serif;
    text-align:center
}

.newstable {
    color:white;
    width: 60%;
    height: auto;
    margin: 0 auto;
    border-width: 0px;
}

.social-links {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;
}

.social-links a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: transparent;
}

.social-links a:hover {
      border: 2px solid rgb(65, 0, 144);
}

.social-links img {
      width: 30px;
      height: 30px;
}

footer {
    font-family: 'Share Tech Mono', monospace;
}