body,html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%; 
  height: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
}

text {
    color: white;
}

h1 {

    color: white;
}

h2 {

    color: white;
    text-align: center;
}

iframe{
    
    border: none;
    overflow: hidden;
}

p {
    color:white;
    width: 60%;
    height: auto;
    margin: 0 auto;
}

table {
    color:white;
    width: 60%;
    height: auto;
    margin: 0 auto;
}