body,html {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.menu {
  background-color: #000000;
  padding: 17px 0;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #00ff08;
}