table {
    border-collapse: collapse; /* Makes borders collapse into a single border */
    width: 50%;
}

table, th, td {
    border: 2px solid white;
}

th, td {
    padding: 10px;
    text-align: left;
}
